#contantmain {
display:flex ;
 flexWrap: flexWrap ;
  justifyContent: space-between ;
   gap: 20px ;
   marginTop:3% ;
}

#FormSearch{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 4%;
}

#noSearch{
   color: red; /* Change the color to suit your design */
   font-weight: bold;
   font-size: 1.2em;
}

.modal-left  {
 
   left:auto;
   right: 400px;

 }